/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 16, 2015, 12:49:45 PM
    Author     : dkey
*/

.col-50 {
  display: inline-table;
  width: 49%;
  margin: 0 auto;
  vertical-align: top;
}

.kwmmb-admin-map {
  width: 100%;
  min-height: 400px;
}

.kwmmb-field-value {
  display: none;
}

.kwmmb-field-value.on {
  display: inline-block;
}

.kwmmb-field label {
  display: inline-block;
  width: 30%;
  vertical-align: baseline;
}

.kwmmb-field input {
  display: inline-block;
  width: 60%;
}

.kwmmb-field {
  margin-bottom: 10px;
}

.kwmmb-admin-table {
  width: 100%;
}

.kwmmb-admin-table th {
  background-color: #ccc;
}

.kwmmb-admin-table td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  text-align: center;
}

.template-html {
    display: none;
}